<p id="alert"><%= alert %></p>

<table class="table">
  <tr>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">Total Income</div>
          <div class="panel-body"><%= current_user.total_income %>
          </div>
        </div>
      </td>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">Total Cost
        </div>
        <div class="panel-body"><%= current_user.total_cost %>
        </div>
      </div>
      </td>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">Total Balance</div>
        <div class="panel-body"><%= current_user.total_balance %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <% if current_user.total_balance <=25 %>
      <div class="alert alert-warning" >
        <h><b>ALERT:Check your Balance</b></h>    
      </div>
    <% end %>
  </tr>
</table>

<table class="table">
<% if @category %>
  <% if @category.errors.size > 0 %>
    <div class="alert alert-danger">
      <%- if @category.errors %>
        <%= @category.errors.full_messages.join(", ") %>
      <% end %>
    </div>
  <% end %>
<% end %>
  <tr>
    <td>
      <div>
      <%= form_tag "/categories/", method: :post do %>
        <%= label_tag :date %>
        <%= date_select("date", "on", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }) %>
        <%= label_tag :name %>
        <%= text_field_tag :name %>
        <%= label_tag :amount %>
        <%= text_field_tag :amount %>
        <%= submit_tag "Create Income/Cost", class: "btn btn-default" %>
      <% end %>
      </div >
    </td>
  </tr>
</table>

<table class="table table-bordered"> 
  <tbody>
    <%- @categories.each do |category| %>
      <%- category.incomes.each do |income| %>
        <tr>
          <td>
            <%- if category.date %>
              <%= category.date.strftime("%m/%d/%Y") %>
            <% else %>
              <%= income.created_at.strftime("%m/%d/%Y")  %>
            <% end %>
          </td>
          <td>
            <%= category.name %>
          </td>
	        <td>
	          <%= income.amount %>	
          </td>
          <td>
            <div class ="btn-group">
	          <%= link_to 'Delete Income', "/categories/#{category.id}/incomes/#{income.id}",
		          method: :delete,data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
		          </div>
	        </br>
	        </td>
        </tr>
      <% end %>
      <%- category.costs.each do |cost| %>
        <tr>
          <td>
            <% if category.date %>
              <%= category.date.strftime("%m/%d/%Y") %>
            <% else %>
              <%= cost.created_at.strftime("%m/%d/%Y") %>
            <% end %>
          </td>
          <td>
            <%= category.name %>
          </td>
	        <td>
	          <%= cost.amount %>	
          </td>
          <td>
	          <%= link_to 'Delete Cost', "/categories/#{category.id}/costs/#{cost.id}", 
		          method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-danger" %>
	        </br>
	        </td>
        </tr>
      <% end %>
	  <% end %>
  </tbody>
</table>
<br>