
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<tr>
  <td>
	  <%= form_for [@category, Income.new] do |f| %>
	    <%= f.text_field :amount %>
	    <%= f.submit "Add Income" %>
	  <% end %>
	</td>
</tr>

<%- if @income %>
  <div id="error_explanation">
    <tr>
      <td>
        <%- if @income.errors %>
          <%= @income.errors.full_messages.join(", ") %>
        <% end %>
      </td>
    </tr>
  </div>
<% end %>
  	    
<%- @category.incomes.each do |income| %>
  </br>
  <tr>
    <td>
	  Income
	</td>
	<td>
	  <%= income.amount %>	
    </td>
    <td>
	  <%= link_to 'Destroy', "/categories/#{@category.id}/incomes/#{income.id}", 
		method: :delete, data: { confirm: 'Are you sure?' } %> 
	  </br>
	</td>
  </tr>
<% end %>
<br><tr><td><hr></td></tr>

<tr>
  <td>
    Total Income:
  </td>
  <td>
    <strong>
      <%= @category.incomes_total %>
    </strong>  
  </td>
</tr>

<hr>
<tr>
  <td>
	<%= form_for [@category, Cost.new] do |f| %>
	  <%= f.text_field :amount %>
	  <%= f.submit "Add Cost" %>
	<% end %>
  </td>
</tr>
<%- if @cost %>
  <div id="error_explanation">
    <tr>
      <td>
        <%- if @cost.errors %>
          <%= @cost.errors.full_messages.join(", ") %>
        <% end %>
      </td>
    </tr>
  </div>
<% end %>
<%- @category.costs.each do |cost| %>
  <br>
  <tr> 			
	  <td>
	    Cost
	  </td>
	  <td>
	    <%= cost.amount %>	
	  </td>
	  <td>
	    <%= link_to 'Destroy', "/categories/#{@category.id}/costs/#{cost.id}", 
		    method: :delete, data: { confirm: 'Are you sure?' } %> </br>
	  </td>
  </tr>
<% end %>
<br><tr><td><hr></td></tr>
<tr>
  <td>
    Total Cost:
  </td>
  <td>
    <strong>
      <%= @category.costs_total %>
    </strong>  
  </td>
</tr>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>